APP_NAME=Dubai Shipping Tool
APP_HOST=127.0.0.1
APP_PORT=8000

FRONTEND_ORIGIN=http://localhost:5173

NOON_HOME_URL=https://directship.noon.partners/
NOON_PENDING_URL=https://directship.noon.partners/en/orders/?project=PRJ408158&activeTab=pending&page=1&pageSize=10&whCode=W00178809AE
NOON_DOWNLOAD_TIMEOUT_SECONDS=300
NOON_HEADLESS=false

ORDER_TIMEZONE=Asia/Dubai

# ERP
ERP_BASE_URL=http://www.erpzd.com
ERP_USERNAME=
ERP_PASSWORD=
ERP_STOCK_PAGE_URL=http://www.erpzd.com/#/customer/box/stock/index
ERP_LOGIN_URL=http://www.erpzd.com/#/login?redirect=%2Fcustomer%2Fbox%2Fstock%2Findex
ERP_DOWNLOAD_TIMEOUT_SECONDS=120
ERP_HEADLESS=false
